<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Адмінка - Відповіді користувачів</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Генадій</h1>
    </header>
    <div class="container">
        <table>
            <tbody>
                <tr>
                    <td>Ім'я Користувача 1</td>
                    <td>Відповідь 1</td>
                    <td>Відповідь 2</td>
                    <td>Відповідь 3</td>
                </tr>
                <tr>
                    <td>Ім'я Користувача 2</td>
                    <td>Відповідь 1</td>
                    <td>Відповідь 2</td>
                    <td>Відповідь 3</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
