<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Адмінка - Відповіді користувачів</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>Генадій</h1>
</header>
<div class="container">
    <div id="user-list">
        <table>
            <tbody>
            <!-- Тут будуть відображені імена користувачів -->
            </tbody>
        </table>
    </div>
    <div id="user-answers" style="display: none;">
        <button id="back-button">Назад</button>
        <table>
            <tbody>
            <!-- Тут будуть відображені відповіді користувача -->
            </tbody>
        </table>
    </div>
</div>
<script src="/js/script.js"></script>
</body>
</html>